<nav class="navbar">
    <a class="navbar-brand">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Pok%C3%A9_Ball_icon.svg/1200px-Pok%C3%A9_Ball_icon.svg.png" width="30" height="30" class="d-inline-block align-top">
      Pokémon Trainer
    </a>
  </nav>
<router-outlet></router-outlet>

