<main  class="container login">
    <h1>Login</h1>

    <form #form="ngForm" (ngSubmit)="onSubmit(form)">
        <fieldset class="mb-3">
            <label 
                for="trainerName"
                class="my-1">
                Trainer Name
            </label>
            <input 
                class="form-control" 
                type="text" 
                [ngClass]="{'is-valid': trainerName.valid, 'is-invalid': (trainerName.invalid && (trainerName.dirty || trainerName.touched))}"
                id="trainerName"
                name="trainerName" 
                required
                minlength="3"
                ngModel #trainerName="ngModel"
                placeholder="E.g. ash"
            />
            <div *ngIf="trainerName.errors && trainerName.invalid && (trainerName.dirty || trainerName.touched)">
                <p class="invalid-feedback" *ngIf="trainerName.errors['required']">A trainerName is required</p>
                <p class="invalid-feedback" *ngIf="trainerName.errors['minlength']">The trainerName is too short</p>
            </div>
        </fieldset>

        <button 
            type="submit" 
            [disabled]="form.invalid"
            class="btn btn-success"
            >
    Continue
            
        </button>
    </form>
</main>
