
<div class="container">
    <h1>Trainer Page</h1>
    <button class="btn btn-warning m-3 btn-logout" (click)="onLogout()" >Log out</button>

    <h5>Welcome {{trainerName}}!</h5>

    <div class="pokemon-container">
        <div *ngFor="let pokemon of pokemonFromList; let i = index" class="pokemon-box" >
            <span class="pokemonName">
                {{pokemon}}
            </span>
            <button class="btn btn-danger" (click)="removePokemon(pokemon)">Remove Pokémon!</button>
        </div>
    </div>
    
</div>
