.pokemonName{
    list-style-type: none;
    font-size: 20px;
}

.pokemon-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 30vh;
    margin-bottom: 40px;
}

.pokemon-container{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.btn-logout{
    float: right;
}