 *,body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
    background-color: rgb(211, 200, 200);
}

.container{
    margin-top: 20px;
}

.invalid-feedback{
    display: block;
}

.login{
    width: 30%;
}