<div class="container">
    <h1>Pokémon Catalogue Page</h1>
    <h5>Welcome {{trainerName}}!</h5>

    <button class="btn btn-warning m-2 btn-trainer-page" routerLink="/trainer-page">Go to Trainer Page</button>

    <div class="pokemon-container">
        <div *ngFor="let pokemon of pokemons; "let i = index class="pokemon-box" >
            <span class="pokemonName">
                {{pokemon.name}}
            </span>
            <img src="{{pokemon.image}}" width="180px" height="180px">
            <button class="btn btn-dark btn-sm" (click)="onPokemonClicked(pokemon)">Catch Pokémon!</button>
        </div>
    </div>
</div>